<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Výber z databázy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
    <h1>Výber z databázy</h1>

    <div class="menu">
        <a href="/registracia" class="button">Registruj trénera</a>
        <a href="/treneri_kurzy" class="button">Tréneri a ich kurzy</a>
        <a href="/kurzy" class="button">Kurzy</a>
        <a href="/treneri_priezvisko" class="button">Tréneri podľa priezviska</a>
        <a href="/sucet_kapacita" class="button">Súčet kapacity kurzov (P)</a>
        <a href="/add_course_form" class="button">Pridať kurz</a>
    </div>

    <a href="/" class="button-spat">Domov</a>
</body>
</html>
