<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Registrácia trénera</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
    <h2>Registrácia trénera</h2>

    <form action="/registracia" method="post">
        <label for="meno">Meno:</label>
        <input type="text" id="meno" name="meno" required><br><br>

        <label for="priezvisko">Priezvisko:</label>
        <input type="text" id="priezvisko" name="priezvisko" required><br><br>

        <label for="specializacia">Špecializácia:</label>
        <select id="specializacia" name="specializacia">
            {% for specializacia in specializacie %}
                <option value="{{ specializacia.nazov }}">{{ specializacia.nazov }}</option>
            {% endfor %}
        </select><br><br>

        <label for="telefon">Telefón:</label>
        <input type="text" id="telefon" name="telefon" required><br><br>

        <label for="heslo">Heslo:</label>
        <input type="password" id="heslo" name="heslo" required><br><br>

        <button type="submit">Registrovať</button>
    </form>

    <a href="/" class="button-spat">Späť</a>
</body>
</html>
